<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="app">
        <dir
          name="src">
          <dir
            name="androidTest">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="naman14">
                  <dir
                    name="timber"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="naman14">
                  <dir
                    name="timber">
                    <dir
                      name="activities"/>
                    <dir
                      name="adapters"/>
                    <dir
                      name="cast"/>
                    <dir
                      name="dataloaders"/>
                    <dir
                      name="dialogs"/>
                    <dir
                      name="fragments"/>
                    <dir
                      name="helpers"/>
                    <dir
                      name="lastfmapi">
                      <dir
                        name="callbacks"/>
                      <dir
                        name="models"/>
                    </dir>
                    <dir
                      name="listeners"/>
                    <dir
                      name="models"/>
                    <dir
                      name="nowplaying"/>
                    <dir
                      name="permissions"/>
                    <dir
                      name="provider"/>
                    <dir
                      name="slidinguppanel"/>
                    <dir
                      name="subfragments"/>
                    <dir
                      name="timely">
                      <dir
                        name="animation"/>
                      <dir
                        name="model">
                        <dir
                          name="core"/>
                        <dir
                          name="number"/>
                      </dir>
                    </dir>
                    <dir
                      name="transition"/>
                    <dir
                      name="utils"/>
                    <dir
                      name="widgets">
                      <dir
                        name="desktop"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="res">
              <dir
                name="anim"/>
              <dir
                name="color"/>
              <dir
                name="drawable"/>
              <dir
                name="drawable-xhdpi"/>
              <dir
                name="layout"/>
              <dir
                name="menu"/>
              <dir
                name="transition"/>
              <dir
                name="values"/>
              <dir
                name="values-da"/>
              <dir
                name="values-de"/>
              <dir
                name="values-es"/>
              <dir
                name="values-fr"/>
              <dir
                name="values-id"/>
              <dir
                name="values-it"/>
              <dir
                name="values-ko"/>
              <dir
                name="values-nb-rNO"/>
              <dir
                name="values-pt"/>
              <dir
                name="values-ru"/>
              <dir
                name="values-tr"/>
              <dir
                name="values-v19"/>
              <dir
                name="values-v21"/>
              <dir
                name="values-w820dp"/>
              <dir
                name="values-zh"/>
              <dir
                name="xml"/>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="mock"/>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo="."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java5"/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
